body{
    background-color: black;
}

.pasteCreate{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}
.titleDiv{
    display: flex;
    gap: 1rem;
    padding: 0.3rem;

    margin-top: 0.5rem;
}
.textArea{
    padding: 5px;
    background-color: rgb(32, 32, 32);
    color: azure;
    border-radius: 0.5rem;
    /* display: flex;
    justify-content: center; */
    height: 80vh;
}
input{
    height: 1.5rem;
    background-color: rgb(32, 32, 32);
    border-radius: 0.5rem;
    padding: 0.2rem;
    color:white;
    width: 100%;
}
.homeButton{
    background-color: rgb(106, 106, 223);
    color: white;
    border-radius: 0.5rem;
    padding: 2px;
    font-size: 0.5rem;
    height: 1.5rem;
    width: 10rem;
    border: 2px solid black;
}
