*{
   margin: 0;;
   padding: 0;
   box-sizing: border-box;
}

body{
    background-color: black;
}
.pasteBody{
    
    max-width: 100%;
    /* border: 1px solid white; */
    margin: auto;
}

.searchDiv{
   margin: 1rem;
   /* border: 1px solid white; */
   height: 6vh;
   display: flex;
   justify-content: center;
   align-items: center;
    
}
.search{
    background-color: rgb(32, 32, 32);
    border-radius: 0.3rem;
    color: white;
    width: 30vw;
    height: 1.5rem;
}

.allPaste{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    /* border: 1px solid white; */
    /* padding: 1rem; */
    max-width: 80%;
    margin: auto;
}
.card{
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    max-width: 100%;
    gap: 0.5rem;
    display: flex;
    padding: 0.4rem;
    flex-direction: row;
    
    justify-content: space-between;
    
}


.leftCard{
    /* border: 1px solid red; */
    width: 50%;
    margin-top:0;
    display: flex;
    flex-direction: column;
    color: azure;
    /* gap: 0.2rem; */
    /* background-color: yellow; */
}

.cardTitle{
    text-align: left;
    font-size: 1.5rem;
}
.cardContent{
    text-align: left;
    font-size: 1rem;
}

.rightCard{
    width: 49%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0.5rem;
    /* background-color: violet; */
}

.btnDiv{
    display: flex;
    justify-content:center;
    /* flex-wrap: wrap; */
    gap: 1rem;
    max-width: 100%;
}

.cardbtn{
    background-color: rgb(106, 106, 223);
    color: white;
    border-radius: 0.5rem;
    padding: 2px;
    font-size: 0.5rem;
    height: 1.5rem;
    width: 2rem;
    border: 2px solid black;
}

.cardContent{
    /* border: 1px solid white; */
    max-width: 80%;
    height: 2rem;
    margin-top: 0.4rem;
    overflow: hidden;
}
.cardPara{
    font-size: 0.7rem;
}
a{
    text-decoration: none;
    color: white;
}

    @media only screen and (max-width: 650px) {
        .card{
            max-width: 100%;
            flex-direction: column;
        }
        .allPaste{
            max-width:  100%;
        }
        .leftCard{
            width:100%;
        }
        .rightCard{
            width: 100%;
        }
        .btnDiv{
            justify-content: space-around;
            max-width: 50%;
        }
      }